<div class="home-search">
    <h1>{{title}}</h1>
    <form class="search" action="/places" method="GET">
        <input type="text" placeholder="Search a city" name="city">
        <button type="submit">GO</button>
        {{!-- <input id="searchMapInput" class="mapControls" type="text" placeholder="Search a city">
    <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
    </button> --}}
    </form>
    <p>Want to <a href="/welcome">Signup?</a>
</div>