<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="topnav">
    <img class="logo" src="./images/chef.png">
    <a class="link" href="/">Home</a>
    <a class="link" href="/welcome">Welcome</a>
    <a class="link" href="/about">About</a>

  </div>
  {{{body}}}


  <script src="/javascripts/map.js"></script>
</body>

</html>