<form action="/auth/signup" method="POST">
    <div class="signup">
        <p>Want to join our global local food guide community? Sign up now!</p>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="text" name="email" placeholder="email address">
        <button class="signing" type="submit" name="submit" value="Signup">Sign up</button>
    </div>
</form>

<form action="/auth/login" method="POST">
    <div class="signin">
        <p>Hungry for finding more of your favorite food? Login now!</p>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="signing" type="submit" name="submit" value="Signin">Sign in</button>
    </div>
</form>